@import "~adminTheme/main.scss";

.races {
  padding-top: 3rem;

  h3 {
    margin-bottom: 0.25rem;
  }
}

.candidate {
  margin: 20px 0;

  td {
    vertical-align: middle;
    max-width: 100px;
  }
}